.me{    
    position: fixed;
    top: -1em;
    z-index: 100;
    text-align: center;
    left: 0;
    width:50%;
    left: 25%;
    color: white;
    text-shadow: turquoise 2px 2px;
        
}
.me2{
    text-align: center;
    margin-right: auto;
    margin-right: 5rem;
    flex-grow: 1;
    flex-shrink: 1;
    font:inherit;
    font-size: 1.5rem;
    color: white;
    text-shadow: rgb(2, 124, 112) 2px 2px 3px;
}

.mainBar{
    background-color: rgb(187, 224, 212);
    width: 100vw;
    height: 3rem;
    position: fixed;
    top:0;
    left: 0;
    box-shadow: rgb(152, 209, 206) 0.5rem 0.5rem 1rem;
    text-align: center;
    z-index: 100;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}

.button-menu{
    margin-left: 1rem;
    margin-right:1rem;
    height: 3rem;
    width: 3rem;
    flex-grow:0;
    flex-shrink: 0;
}
.littleBar1, .littleBar2, .littleBar3{
    position: absolute;
    border-radius: 1rem;
    width: 3rem;
    height: 10%;
    background-color: white;
}
.littleBar1{
    top:17.5%;
}
.littleBar2{
    top:45%;
}
.littleBar3{
    top:72.5%;
}
.menuHidden{
    display:none;
}
.menuOpen , .menuClose {
    background-color: rgb(187, 224, 212);
    width: 17em;
    position:fixed;
    display: flex;
    top: 0;
    padding-top: 5em;
    left: 0;
    height: 100vh;
    z-index: 10;
    flex-direction: column;
    flex-wrap: 0;
}
.menuClose{
    left: -17em;
}
.videoHidden{
    display:none;
}

.menu-option{
    height: 3em;
    padding-left: 1em;
    color:white;
    font-weight: bolder;
    text-shadow: rgb(2, 124, 112) 2px 2px 3px;
}


.videoOpen{
    position: fixed;
    z-index: 2000;
    top: 3rem;
    left: 10vw;
    width: 80vw;
    height: 42vw;
}

.videoClose{
    position: fixed;
    z-index: 2000;
    top: 3rem;
    left: -80vw;
    width: 80vw;
    height: 42vw;
}

.xButton {
    height: 3rem;
    width: 3rem;
    background-color: #FA6900;
    border-radius: 5px;
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
}

.xButton:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\274c"; /* use the hex value here... */
    font-size: 2rem; 
    color: #FFF;
    line-height: 3rem;
    text-align: center;
}


.video{
    width:100%;
    height: 100%;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image:radial-gradient(circle, white,rgb(187, 224, 212));
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    height: 200%;
    margin-top: 3em;
}
a{
    text-decoration: none;
    color:inherit;
}

body header div, .about_me, body footer{
    background-color:white;
    box-shadow: rgb(152, 209, 206) 0.5rem 0.5rem 1rem;
}
hr{
    width:80%;
    background-color:lightsteelblue;
}
h2{
    text-align: center;
}



.presentation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}
.intro{
    width: 25%;
    max-width: 4cm;
    margin: 0;
    margin-right: 2em;
    padding: 1em;
    font-family:monospace;
    flex-shrink: 0;
    flex-grow: 0;
}
.qr{
    display: none;
}
.profile{
    width:100%;
    margin: auto;
}
.qr-img{
    width:100%;
    margin: auto;
}
.information{
    margin: 0;
    flex-shrink: 1;
    flex-grow: 1;
}
.list, .list1{
    width: 90%;
    margin: auto;
}
.list1{
    list-style-type: none;
}
.icon{
    display:inline-block;
    width: 1em;    
}






.about_me{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30vh;
    padding-bottom: 1em;
}
article{
    display:block;
}
.about_me article p{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.education{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.place_icon, .place_icon2{
    width:3em;
    padding-left:12.5%;
    padding-right:0;
    margin-left:auto;
    margin-right:auto;
}
.place_icon2{
    width: 100%;
    max-width: 4cm;
    max-height: 3em;
}
.place, .place-big{
    padding-left: 0.5em;
    width: 12.5%;
    max-width: 2cm;
    flex-shrink: 0;
    flex-grow: 0;
    text-align: center;
}
.place-big{
    width: 25%;
    max-width:4cm;
    padding-right: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}
.info{
    margin: 0 0 0 5em;
    flex-grow: 1;
    flex-shrink: 1;
}




@keyframes slidein {
    from {
        margin-top:-100%;
    }
    to {
        margin-top:3rem;   
    }
  }
  
  @keyframes slidein2 {
    from {
      margin-top: 200%;
    }
    to {
      margin-top: 0;
    }
  }

@keyframes slideInVideo{
    from {
        left:-100vw;
    }
    to{
        left:10vw;
    }
}

@keyframes slideOutVideo{
    from {
        left:10vw;
    }
    to{
        left:-100vw;
    }
}


@keyframes slideInVideo2{
    from {
        left:-100vw;
    }
    to{
        left:25vw;
    }
}

@keyframes slideOutVideo2{
    from {
        left:25vw;
    }
    to{
        left:-100vw;
    }
}

@keyframes slideInMenu{
    from{
        left:-160vw;
    }
    to{
        left:0;
    }
}
@keyframes slideOutMenu{
    from{
        left:0;
    }
    to{
        left:-100vw;
    }
}

@media screen and (min-width:380px){
    body{
        font-size: 8px;
    }
    header {
        animation-duration: 3s;
        animation-name: slidein;
    }
    .videoOpen{
        animation-duration: 3s;
        animation-name: slideInVideo;
    }
    .videoClose{
        animation-duration: 1s;
        animation-name: slideOutVideo;
    }
    .menuOpen{
        animation-duration: 0.5s;
        animation-name: slideInMenu;
    }
    .menuClose{
        animation-duration: 0.5s;
        animation-name: slideOutMenu;
    }

    
    main {
        animation-duration: 3s;
        animation-name: slidein2;
    }
}

@media screen and (min-width:550px){
    body{
        font-size: 12px;
    }
}

@media screen and (min-width:800px){
    body{
        font-size: 12px;
    }
    .presentation, .about_me{
        max-width: 50em;
    }
    .me2{
        font-weight: bolder;
    }
}

@media screen and (min-width:1081px){
    body{
        font-size: initial;
    }
}

@media screen and (orientation:portrait){
    .mainBar{
        height: 3rem;
    }
    .button-menu{
        height: 3rem;
        width: 3rem;
    }
    .me{
        width:80%;
        margin-right: auto;
        margin-top:auto;
    }
    .menuOpen, .menuClose{
        position: fixed;
        top: 5vh;
        width: 100vw;
        height: 200%;
        font-size: initial;
        align-items: center;
        justify-content:flex-start;
        padding-top:5vh;
    }
    .menuOpen{
        left:0;
    }
    .menuHidden,.menuClose{
        left:-100vw;
    }
    .menu-option{
        width: 80%;
        margin-right: auto;
        margin-left:auto;
        margin-top: 0;
        margin-bottom:1rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: auto;
        background-color: white;
        box-shadow: turquoise 2px 2px 10px;
        border-radius: 1rem;
        color: black;
        text-shadow: none;
    }
    .list1{
        padding: 0 2em 0 2em;
    }
}

@media screen and (orientation: landscape){
    .videoOpen, .videoClose {
        width: 50vw;
        height: 28.125vw;
    }

    .videoOpen {
        animation-name: slideInVideo2;
        
        left: 25vw;
    }
    .videoClose{
        animation-name:slideOutVideo2;
        
        left: -100vw;
    }

}

@media print{
    
    .presentation{
        margin-top: 0;
    }
    .mainBar{
        color: initial;
        background-color: transparent;
        box-shadow: none;
    }
    .me2{
        text-shadow: none;
        color:black;
        margin-bottom: 1rem;
    }

    .intro,.button-menu, .menuOpen, .menuHidden,.menuClose,.videoOpen,.videoClose, article{
        display: none;
    }

    body{
        font-size: 13px; 
        background:none;
    }

    body header div, .about_me, body footer{
        background-color:white;
        box-shadow:none;
        border:1px solid grey ;
        padding: 0;
    }
    .about_me{
        margin-bottom: 0;
        margin-top: 0;
        padding-top:0;
    }
    .qr{
        display: block;
        width: 25%;
        max-width: 4cm;
        margin: 0;
        margin-right: 2em;
        padding: 1em;
        font-family:monospace;
        flex-shrink: 0;
        flex-grow: 0;
    }
    .presentation, .about_me{
        min-width: 50em;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }


}

  
  
/*

@media screen and (min-width:751px) and (orientation:landscape){
    
    .presentation{
        max-width: 50rem;
    }
    .about_me{
        max-width: 50rem;
    }

    .intro{
        max-width: 4cm;
        margin-right: 3rem;
    }
}
*/