body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image:radial-gradient(circle, white,rgb(187, 224, 212));
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-size: 8px;
    height: 200%;
}

body header div, .about_me, body footer{
    background-color:white;
    box-shadow: rgb(215, 255, 253) 0.5rem 0.5rem 2rem;
}
hr{
    width:80%;
    background-color:lightsteelblue;
}
h2{
    text-align: center;
}



.presentation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}
.intro{
    width: 25%;
    max-width: 4cm;
    margin: 0;
    margin-right: 1rem;
    padding: 0.5rem;
    font-family:monospace;
}
.profile{
    width:100%;
    margin: auto;

}
.information{
    margin: 0;
    flex-wrap: 1;
    flex-grow: 1;
}
.icon{
    display:inline-block;
    width: 1rem;
    margin-right: 0.5rem;
}






.about_me{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.skills{
    width: 80%;
    margin: 0 auto;
}
.education{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.place_icon{
    width:50%;
    padding:25%;
}
.place{
    width: 12.5%;
    flex-shrink: 1;
    flex-grow: 0;
}
.info{
    margin-left:5%;
}


@media screen and (min-width:550px) and (max-width:800px){
    body{
        font-size: 12px;
        max-width: 50rem;
    }
}

@media screen and (min-width:800px) and (orientation:landscape){
    body{
        font-size: initial;
    }
    .presentation, .about_me{
        max-width: 50rem;
    }

}
/*

@media screen and (min-width:751px) and (orientation:landscape){
    
    .presentation{
        max-width: 50rem;
    }
    .about_me{
        max-width: 50rem;
    }

    .intro{
        max-width: 4cm;
        margin-right: 3rem;
    }
}
*/
